<% if current_user %>
	<div class="menu__wrapper">
		<%= link_to "Home", user_profile_path, :class => "menu__links" %>
		<%= link_to "Following", user_friend_path, :class => "menu__links" %>		
    	<%= link_to "My Movies", user_movies_path, :class => "menu__links" %>
   		<%= link_to "My Watchlist", user_watchlist_path, :class => "menu__links" %>
    	<%= link_to "Sign out", signout_path, id: "sign_out", :class => "menu__links" %>
	</div>
	<div class="submenu__wrapper">
		<% @genres.each do |g| %>
			<% if @genre_params.include? g.name.downcase %>
				<a href="<%= recommend_filter_url(genre: @genre_params - [g.name.downcase]) %>" class="submenu__links<% if @fgenres.include?(g.name) %> favourite<% end %><% if @genre_params.include? g.name.downcase %> selected<% end %>"><%= g.name %></a>
			<% else %>
				<a href="<%= recommend_filter_url(genre: [@genre_params, g.name.downcase].compact.flatten) %>" class="submenu__links<% if @fgenres.include?(g.name) %> favourite<% end %>"><%= g.name %></a>
			<% end %>
		<% end %>
			<a href="<%= recommend_genre_url() %>" class="submenu__links<% if current_page?(action: 'filter') %> selected2<% end %>">Select multiple genres</a>
	</div>
	<div class="movies__single-movie__wrapper u-cf">
		<% if !@genre_params.empty? %>
			<% @movies.sort_by{|e| -e[:algorithm_score]}.each do |m|%>
					<div class="movies__single-movie">
						<div class="movies__single-movie__left" style='background: url(<%= m.Poster %>) center center no-repeat; background-size: cover;'>
						<% if @watchlist_slugs.include?(m.slug) %>
							<div class="movies__single-movie__left__add--favs js-update-watchlist added" data-slug="<%= m.slug %>"></div>	
						<% else %>
							<div class="movies__single-movie__left__add--favs js-update-watchlist" data-slug="<%= m.slug %>"></div>
						<% end %>
							<div class="movies__single-movie__left__add--watched js-update-watched" data-slug="<%= m.slug %>"></div>
						</div>
						<div class="movies__single-movie__right">
							<%= link_to "Find out more", single_movie_path(m.slug), :class => "movies__single-movie_link" %>
							<% genre = m.Genre.split(',') %>
							<% genre.map! {|item| item.strip} %>
							<% genre.each do |g| %>
								<a href="" class="movies__single-movie__genre <%= g.downcase %>"><%= g %></a>
							<% end %>
							<p class="movies__single-movie__name"><%= m.Title %></p>
							<p class="movies__single-movie__plot"><%= m.Plot.truncate(110) %></p>
							<div class="movies__single-movie__rating__wrapper">
								<p class="movies__single-movie__rating">IMDB &mdash; <span><%= m.imdbRating %></span></p>
								<p class="movies__single-movie__rating">ROTTEN &mdash; <span><%= m.Metascore %></span></p>
								<p class="movies__single-movie__rating">TMDB &mdash; <span><%= m.TMDBvote_average %></span></p>
							</div>
						</div>
					</div>
			<% end %>
		<% else %>
			<% @movies_other.sort_by{|e| -e[:algorithm_score]}.each do |m|%>
					<div class="movies__single-movie">
						<div class="movies__single-movie__left" style='background: url(<%= m.Poster %>) center center no-repeat; background-size: cover;'>
						<% if @watchlist_slugs.include?(m.slug) %>
							<div class="movies__single-movie__left__add--favs js-update-watchlist added" data-slug="<%= m.slug %>"></div>	
						<% else %>
							<div class="movies__single-movie__left__add--favs js-update-watchlist" data-slug="<%= m.slug %>"></div>
						<% end %>
							<div class="movies__single-movie__left__add--watched js-update-watched" data-slug="<%= m.slug %>"></div>
						</div>
						<div class="movies__single-movie__right">
							<%= link_to "Find out more", single_movie_path(m.slug), :class => "movies__single-movie_link" %>
							<% genre = m.Genre.split(',') %>
							<% genre.map! {|item| item.strip} %>
							<% genre.each do |g| %>
								<a href="<%= recommend_subgenre_path(g) %>" class="movies__single-movie__genre <%= g.downcase %>"><%= g %></a>
							<% end %>
							<p class="movies__single-movie__name"><%= m.Title %></p>
							<p class="movies__single-movie__plot"><%= m.Plot.truncate(110) %></p>
							<div class="movies__single-movie__rating__wrapper">
								<p class="movies__single-movie__rating">IMDB &mdash; <span><%= m.imdbRating %></span></p>
								<p class="movies__single-movie__rating">ROTTEN &mdash; <span><%= m.Metascore %></span></p>
								<p class="movies__single-movie__rating">TMDB &mdash; <span><%= m.TMDBvote_average %></span></p>
							</div>
						</div>
					</div>
			<% end %>
		<% end %>
	</div>
<% end %>